services:
  backend:
    image: ghcr.io/nxfive/ml-medical-cost/backend:${TAG}
    secrets:
      - DATABASE_URL_PROD
      - MLFLOW_TRACKING_PROD
      - BACKEND_POSTGRES_HOST
      - POSTGRES_PORT
    volumes:
      - pg-certs-backend-client:/certs:ro
    networks:
      - internal-net

  frontend:
    image: ghcr.io/nxfive/ml-medical-cost/frontend:${TAG}
    environment:
      BENTO_HOST: backend
    secrets:
      - BACKEND_PORT
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.http.routers.frontend.rule=Host(`ml-medical-cost.nxfive.pl`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=myresolver"
      - "traefik.http.middlewares.frontend-ratelimit.ratelimit.average=200"
      - "traefik.http.middlewares.frontend-ratelimit.ratelimit.burst=100"
      - "traefik.http.routers.frontend.middlewares=frontend-ratelimit"
      - "traefik.http.services.ml-medical-cost_frontend.loadbalancer.server.port=8501"
    networks:
      - traefik-net
      - internal-net


volumes:
  pg-certs-backend-client:
    external: true
    name: ml-medical-cost_pg-certs-backend-client

networks:
  traefik-net:
    external: true
  internal-net:
    external: true

secrets:
  BACKEND_PORT:
    external: true 
  DATABASE_URL_PROD:
    external: true
  MLFLOW_TRACKING_PROD:
    external: true
  BACKEND_POSTGRES_HOST:
    external: true
  POSTGRES_PORT:
    external: true
