services:
  postgres-backend:
    container_name: postgres-backend 
    image: postgres:15
    environment:
      POSTGRES_USER: ${BACKEND_POSTGRES_USER}
      POSTGRES_PASSWORD: ${BACKEND_POSTGRES_PASSWORD}
      POSTGRES_DB: ${BACKEND_POSTGRES_DB}
    volumes:
      - backend_postgres_data:${PG_MOUNT}/data
      - pg-certs-backend-server:${PG_MOUNT}/certs:ro
    networks:
      - internal-net
    restart: unless-stopped

  postgres-mlflow:
    container_name: postgres-mlflow
    image: postgres:15
    environment:
      POSTGRES_USER: ${MLFLOW_POSTGRES_USER}
      POSTGRES_PASSWORD: ${MLFLOW_POSTGRES_PASSWORD}
      POSTGRES_DB: ${MLFLOW_POSTGRES_DB}
    volumes:
      - mlflow_postgres_data:${PG_MOUNT}/data
      - pg-certs-mlflow-server:${PG_MOUNT}/certs:ro
    networks:
      - internal-net
    restart: unless-stopped
    
  pgadmin:
    image: dpage/pgadmin4:9.8
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - pg-certs-backend-pgadmin:${CA_MOUNT}/backend-certs
      - pg-certs-mlflow-pgadmin:${CA_MOUNT}/mlflow-certs
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.http.routers.pgadmin.rule=Host(`pgadmin.nxfive.pl`)"
      - "traefik.http.routers.pgadmin.tls=true"
      - "traefik.http.routers.pgadmin.middlewares=pgadmin-ipwhitelist@docker"
      - "traefik.http.middlewares.pgadmin-ipwhitelist.ipwhitelist.sourcerange=10.200.200.0/24"
    networks:
      - traefik-net
      - internal-net
    restart: unless-stopped

  mlflow:
    image: ghcr.io/nxfive/ml-medical-cost/mlflow:latest
    volumes:
      - ./mlflow_artifacts:/mlflow/artifacts
      - pg-certs-mlflow-client:/certs
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.http.routers.mlflow.rule=Host(`mlflow.nxfive.pl`)"
      - "traefik.http.routers.mlflow.tls=true"
      - "traefik.http.routers.mlflow.service=mlflow"
      - "traefik.http.services.mlflow.loadbalancer.server.port=5000"
      - "traefik.http.routers.mlflow.middlewares=mlflow-ipwhitelist@docker"
      - "traefik.http.middlewares.mlflow-ipwhitelist.ipwhitelist.sourcerange=10.200.200.0/24"
    environment:
      POSTGRES_SERVICE: postgres-mlflow
      POSTGRES_USER: ${MLFLOW_POSTGRES_USER}
      POSTGRES_PASS: ${MLFLOW_POSTGRES_PASSWORD}
      POSTGRES_DB: ${MLFLOW_POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      MLFLOW_HOST: ${MLFLOW_HOST}
    networks:
      - traefik-net
      - internal-net
    restart: unless-stopped


volumes:
  backend_postgres_data:
  mlflow_postgres_data:
  pgadmin_data:

  pg-certs-backend-server:
    external: true
    name: config_pg-certs-backend-server
  pg-certs-backend-client:
    external: true
    name: config_pg-certs-backend-client
  pg-certs-backend-pgadmin:
    external: true
    name: config_pg-certs-backend-pgadmin

  pg-certs-mlflow-server:
    external: true
    name: config_pg-certs-mlflow-server
  pg-certs-mlflow-client:
    external: true
    name: config_pg-certs-mlflow-client
  pg-certs-mlflow-pgadmin:
    external: true
    name: config_pg-certs-mlflow-pgadmin


networks:
  traefik-net:
    external: true
  internal-net:
    external: true
