services:
  postgres-config:
    image: ghcr.io/nxfive/ml-medical-cost/postgres-config:latest
    secrets:
       - PG_SSL_ADDRESS
       - PG_MOUNT
    volumes:
      - backend_postgres_data:/config/backend
      - mlflow_postgres_data:/config/mlflow
    deploy:
      restart_policy:
        condition: none 


volumes:
  backend_postgres_data:
    external: true 
    name: ml-medical-cost_backend_postgres_data

  mlflow_postgres_data:
    external: true
    name: ml-medical-cost_mlflow_postgres_data


secrets:
  PG_SSL_ADDRESS:
    external: true 
  PG_MOUNT:
    external: true