services:
  cert-generator-backend:
    image: ghcr.io/nxfive/ml-medical-cost/cert-generator:${TAG}
    environment:
      SERVICE: backend
      DST_SERVER: /server-certs
      DST_CLIENT: /client-certs
      DST_PGADMIN: /pgadmin-certs
    volumes:
      - pg-certs-backend:/out
      - ${CA_BACKEND}:/ca/ca.key:ro
      - pg-certs-backend-server:/server-certs
      - pg-certs-backend-client:/client-certs
      - pg-certs-backend-pgadmin:/pgadmin-certs
    deploy:
      restart_policy:
        condition: none 

  cert-generator-mlflow:
    image: ghcr.io/nxfive/ml-medical-cost/cert-generator:${TAG}
    environment:
      SERVICE: mlflow
      DST_SERVER: /server-certs
      DST_CLIENT: /client-certs
      DST_PGADMIN: /pgadmin-certs
    volumes:
      - pg-certs-mlflow:/out
      - ${CA_MLFLOW}:/ca/ca.key:ro
      - pg-certs-mlflow-server:/server-certs
      - pg-certs-mlflow-client:/client-certs
      - pg-certs-mlflow-pgadmin:/pgadmin-certs
    deploy:
      restart_policy:
        condition: none 


volumes:
  pg-certs-backend:
  pg-certs-backend-server:
  pg-certs-backend-client:
  pg-certs-backend-pgadmin:

  pg-certs-mlflow:
  pg-certs-mlflow-server:
  pg-certs-mlflow-client:
  pg-certs-mlflow-pgadmin:
