services:
  cert-generator-backend:
    build:
      context: .
      dockerfile: cert-generator/Dockerfile 
    image: cert-generator-backend:local
    environment:
      - SERVICE=backend
      - DST_SERVER=/server-certs
      - DST_CLIENT=/client-certs
      - DST_PGADMIN=/pgadmin-certs
    volumes:
      - pg-certs-backend:/out
      - ${CA_BACKEND}:/ca/ca.key:ro
      - pg-certs-backend-server:/server-certs
      - pg-certs-backend-client:/client-certs
      - pg-certs-backend-pgadmin:/pgadmin-certs
    restart: "no"

  cert-generator-mlflow:
    build:
      context: .
      dockerfile: cert-generator/Dockerfile
    image: cert-generator-mlflow:local
    environment:
      - SERVICE=mlflow
      - DST_SERVER=/server-certs
      - DST_CLIENT=/client-certs
      - DST_PGADMIN=/pgadmin-certs
    volumes:
      - pg-certs-mlflow:/out
      - ${CA_MLFLOW}:/ca/ca.key:ro
      - pg-certs-mlflow-server:/server-certs
      - pg-certs-mlflow-client:/client-certs
      - pg-certs-mlflow-pgadmin:/pgadmin-certs
    restart: "no"


volumes:
  pg-certs-backend:
  pg-certs-backend-server:
  pg-certs-backend-client:
  pg-certs-backend-pgadmin:

  pg-certs-mlflow:
  pg-certs-mlflow-server:
  pg-certs-mlflow-client:
  pg-certs-mlflow-pgadmin:
