services:
  backend:
    image: ghcr.io/nxfive/ml-medical-cost/backend:latest
  environment:
    DATABASE_URL_PROD: ${DATABASE_URL_PROD}
    MLFLOW_TRACKING_URI: ${MLFLOW_TRACKING_URI}
  networks:
    - traefik-net
  
  frontend:
    image: ghcr.io/nxfive/ml-medical-cost/frontend:latest
    environment:
      BENTO_HOST: backend
      BENTO_PORT: ${BACKEND_PORT}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`ml-medical-cost.nxfive.pl`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=myresolver"
      - "traefik.http.middlewares.frontend-ratelimit.ratelimit.average=200"
      - "traefik.http.middlewares.frontend-ratelimit.ratelimit.burst=100"
      - "traefik.http.routers.fronted.middlewares=frontend-ratelimit"
      - "traefik.http.services.frontend.loadbalancer.server.port=8501"
    networks:
      - traefik-net


networks:
  traefik-net:
    external: true
