name: CI/CD Deploy

on:
  push:
    branches:
      - main

env:
  IMAGE_BACKEND: ghcr.io/${{ secrets.GHCR_USERNAME }}/ml-medical-cost/backend
  IMAGE_FRONTEND: ghcr.io/${{ secrets.GHCR_USERNAME }}/ml-medical-cost/frontend
  IMAGE_MLFLOW: ghcr.io/${{ secrets.GHCR_USERNAME }}/ml-medical-cost/mlflow
  TAG: ${{ github.run_id }}

jobs:
  create_env:
    name: Create .env File
    runs-on: self-hosted
    needs: build_and_push_mlflow
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create Docker Secrets
        run: |
          ssh -i ~/.ssh/id_rsa_ci -p ${{ secrets.SSH_PORT }} ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << EOF
            echo "${{ secrets.BACKEND_PORT }}" | docker secret create BACKEND_PORT -
            echo "${{ secrets.BACKEND_POSTGRES_DB }}" | docker secret create BACKEND_POSTGRES_DB -
            echo "${{ secrets.BACKEND_POSTGRES_HOST }}" | docker secret create BACKEND_POSTGRES_HOST -
            echo "${{ secrets.BACKEND_POSTGRES_PASSWORD }}" | docker secret create BACKEND_POSTGRES_PASSWORD -
            echo "${{ secrets.BACKEND_POSTGRES_USER }}" | docker secret create BACKEND_POSTGRES_USER -
            echo "${{ secrets.CA_BACKEND }}" | docker secret create CA_BACKEND -
            echo "${{ secrets.CA_MLFLOW }}" | docker secret create CA_MLFLOW -
            echo "${{ secrets.DATABASE_URL_PROD }}" | docker secret create DATABASE_URL_PROD -
            echo "${{ secrets.MLFLOW_HOST }}" | docker secret create MLFLOW_HOST -
            echo "${{ secrets.MLFLOW_POSTGRES_DB }}" | docker secret create MLFLOW_POSTGRES_DB -
            echo "${{ secrets.MLFLOW_POSTGRES_PASSWORD }}" | docker secret create MLFLOW_POSTGRES_PASSWORD -
            echo "${{ secrets.MLFLOW_POSTGRES_USER }}" | docker secret create MLFLOW_POSTGRES_USER -
            echo "${{ secrets.MLFLOW_TRACKING_PROD }}" | docker secret create MLFLOW_TRACKING_PROD -
            echo "${{ secrets.MLFLOW_TRACKING_URI }}" | docker secret create MLFLOW_TRACKING_URI -
            echo "${{ secrets.PG_MOUNT }}" | docker secret create PG_MOUNT -
            echo "${{ secrets.PG_SSL_ADDRESS }}" | docker secret create PG_SSL_ADDRESS -
            echo "${{ secrets.PGADMIN_EMAIL }}" | docker secret create PGADMIN_EMAIL -
            echo "${{ secrets.PGADMIN_PASSWORD }}" | docker secret create PGADMIN_PASSWORD -
            echo "$(echo "${{ secrets.PGADMIN_EMAIL }}" | tr '@' '_')" | docker secret create PGADMIN_EMAIL_PATH -
            echo "${{ secrets.POSTGRES_PORT }}" | docker secret create POSTGRES_PORT -
          EOF

  setup:
    name: Setup Services
    runs-on: self-hosted
    needs: create_env
    steps:
      - uses: actions/checkout@v3

      - name: Create config structure on VPS
        run: |
          ssh -i ~/.ssh/id_rsa_ci -p ${{ secrets.SSH_PORT }} ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
            mkdir -p ~/ml-medical-cost/mlflow_artifacts
            mkdir -p ~/ml-medical-cost/config/scripts
            mkdir -p ~/ml-medical-cost/config/cert-generator
            mkdir -p ~/ml-medical-cost/config/postgres-config
            mkdir -p ~/ml-medical-cost/pgadmin
            mkdir -p ~/ml-medical-cost/postgres/backend
            mkdir -p ~/ml-medical-cost/postgres/mlflow
          "
      - name: Copy config files
        run: |
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} -r infrastructure/docker/cert-generator/* ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/config/cert-generator/
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} -r infrastructure/docker/postgres-config/* ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/config/postgres-config/

          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} infrastructure/docker-compose/tls.yml ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/config/tls.yml
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} infrastructure/docker-compose/pg-config.yml ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/config/pg-config.yml

          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} scripts/generate-certs.sh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/config/scripts/generate-certs.sh
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} scripts/tls-postgres-config.sh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/config/scripts/tls-postgres-config.sh
      
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} infrastructure/docker/pgadmin/Dockerfile ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/pgadmin/Dockerfile
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} scripts/pgadmin-entrypoint.sh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/pgadmin/entrypoint.sh

      - name: Run config containers
        run: |
          ssh -i ~/.ssh/id_rsa_ci -p ${{ secrets.SSH_PORT }} ${{ secrets.VPS_USER}}@${{ secrets.VPS_HOST }} << EOF
            export CA_BACKEND=${{ secrets.CA_BACKEND }}
            export CA_MLFLOW=${{ secrets.CA_MLFLOW }}
            docker compose -f ~/ml-medical-cost/config/tls.yml up -d --build --force-recreate
          EOF

      - name: Copy services files
        run: |
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} infrastructure/docker-compose/data.yml ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/data.yml
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} scripts/pg-backend-entrypoint.sh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/postgres/backend/entrypoint.sh
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} infrastructure/docker/postgres-backend/Dockerfile ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/postgres/backend/Dockerfile
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} scripts/pg-mlflow-entrypoint.sh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/postgres/mlflow/entrypoint.sh
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} infrastructure/docker/postgres-mlflow/Dockerfile ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/postgres/mlflow/Dockerfile

      - name: Run service containers
        run: |
          ssh -i ~/.ssh/id_rsa_ci -p ${{ secrets.SSH_PORT }} ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << EOF
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin
            export PGADMIN_EMAIL_PATH=${{ secrets.PGADMIN_EMAIL_PATH }}
            export PG_MOUNT=${{ secrets.PG_MOUNT }}
            docker compose -f ~/ml-medical-cost/data.yml pull
            docker compose -f ~/ml-medical-cost/data.yml up -d --build --force-recreate
            docker logout ghcr.io
          EOF
      - name: Run ssl/tls postgres config setup
        run: |
          ssh -i ~/.ssh/id_rsa_ci -p ${{ secrets.SSH_PORT }} ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
            docker compose -f ~/ml-medical-cost/config/pg-config.yml up -d --build --force-recreate
            docker restart postgres-backend
            docker restart postgres-mlflow
          "

  build_and_push_mlflow:
    name: Build & Push Mlflow Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      - name: Build & Push Mlflow
        run: |
          docker build -t $IMAGE_MLFLOW:$TAG -f infrastructure/docker/mlflow/Dockerfile .
          docker push $IMAGE_MLFLOW:$TAG
          docker tag $IMAGE_MLFLOW:$TAG $IMAGE_MLFLOW:latest
          docker push $IMAGE_MLFLOW:latest

      - name: Logout from GitHub Container Registry
        run: docker logout ghcr.io

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python environment
        run: python3 -m venv .venv

      - name: Activate virtual environment and install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip && pip install uv
          uv sync --group build
      
      - name: Run Tests
        run: | 
          source .venv/bin/activate
          pytest -v

  train:
    name: Train & Choose the Best Model
    runs-on: self-hosted
    needs: build_and_push
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python environment
        run: python3 -m venv .venv

      - name: Activate virtual environment and install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip && pip install uv
          uv sync --group build
            
      - name: Run Training
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
          GITHUB_SHA: ${{ github.sha }}
        run: |
          source .venv/bin/activate
          python -m src.main

  build_and_push:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      - name: Build & Push Backend
        run: |
          docker build -t $IMAGE_BACKEND:$TAG -f infrastructure/docker/backend/Dockerfile .
          docker push $IMAGE_BACKEND:$TAG
          docker tag $IMAGE_BACKEND:$TAG $IMAGE_BACKEND:latest
          docker push $IMAGE_BACKEND:latest

      - name: Build & Push Frontend
        run: |
          docker build -t $IMAGE_FRONTEND:$TAG -f infrastructure/docker/frontend/Dockerfile .
          docker push $IMAGE_FRONTEND:$TAG
          docker tag $IMAGE_FRONTEND:$TAG $IMAGE_FRONTEND:latest
          docker push $IMAGE_FRONTEND:latest
      
      - name: Logout from GitHub Container Registry
        run: docker logout ghcr.io
  
  deploy:
    name: Deploy to VPS
    runs-on: self-hosted
    needs: train
    steps:
      - uses: actions/checkout@v3

      - name: Copy Deploy App file
        run: |
          scp -i ~/.ssh/id_rsa_ci -P ${{ secrets.SSH_PORT }} infrastructure/docker-compose/app.yml ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:~/ml-medical-cost/
      
      - name: Deploy App
        run: |
          ssh -i ~/.ssh/id_rsa_ci -p ${{ secrets.SSH_PORT }} ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin
            docker compose -f ~/ml-medical-cost/app.yml pull
            docker compose -f ~/ml-medical-cost/app.yml up -d --build --force-recreate
            docker logout ghcr.io
          "